.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.homepage-content {
  padding: 20px;
  text-align: center;
}

.homepage h1 {
  font-size: 2rem;
  color: #282c34;
}

.homepage p {
  font-size: 1.2rem;
  color: #555;
}

.homepage .recipe-list {
  margin-top: 30px;
}

.homepage .recipe-list ul {
  list-style-type: none;
  padding: 0;
}

.homepage .recipe-list li {
  padding: 10px;
  background-color: #f1f1f1;
  margin: 5px 0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.homepage .recipe-list li:hover {
  background-color: #61dafb;
}
