.recipe-page {
    padding: 20px;
    text-align: center;
}

.recipe-page h1 {
    margin-bottom: 20px;
}

.recipe-page p {
    margin: 10px 0;
}

.recipe-page ul {
    list-style-type: none;
    padding: 0;
}

.recipe-page li {
    margin: 10px 0;
}
